<form action="<?php echo $action; ?>" method="post">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="<?php echo $button_confirm; ?>" class="btn_checkout btn_profileenter" />
        </div>
    </div>
</form>
