<h3 class="delivery_headblock"><?php echo $text_title ?></h3>
<p><?php echo $liqpay; ?></p>
<form action="<?php echo $action; ?>" method="post">
  <input type="hidden" name="operation_xml" value="<?php echo $xml; ?>">
  <input type="hidden" name="signature" value="<?php echo $signature; ?>">
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="<?php echo $button_confirm; ?>" id="button-confirm_liqpay" class="btn_checkout btn_profileenter hidden" />
    </div>
  </div>
</form>
