<?php echo $header; ?>
<div class="header-breadcrumbs">
    <div class="container">
        <ul>
            <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <?php if ( isset($breadcrumb['href']) ) { ?>
            <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
            <?php } else { ?>
            <li><?php echo $breadcrumb['text']; ?></li>
            <?php } ?>
            <?php } ?>
        </ul>
    </div>
</div>
<section id="deliverydetails_section">
    <div class="container">
        <div class="row">
            <?php echo $column_left; ?>
            <div id="content" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <?php echo $content_top; ?>
                <h2 class="sectionheader"><?php echo $text_edit_address; ?></h2>
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    <fieldset class="checkout_required placeholder_black">
                        <label class="control-label" for="input-zone"><?php echo $entry_firstname; ?></label>
                        <input type="text" name="firstname" value="<?php echo $firstname; ?>"
                               placeholder="<?php echo $entry_firstname; ?>" id="input-firstname" class="form-control"/>
                        <?php if ($error_firstname) { ?>
                        <div class="text-danger"><?php echo $error_firstname; ?></div>
                        <?php } ?>
                    </fieldset>
                    <fieldset class="checkout_required placeholder_black">
                        <label class="control-label" for="input-zone"><?php echo $entry_lastname; ?></label>
                        <input type="text" name="lastname" value="<?php echo $lastname; ?>"
                               placeholder="<?php echo $entry_lastname; ?>" id="input-lastname" class="form-control"/>
                        <?php if ($error_lastname) { ?>
                        <div class="text-danger"><?php echo $error_lastname; ?></div>
                        <?php } ?>
                    </fieldset>
                    <input type="hidden" name="company" value="<?php echo $company; ?>"
                           placeholder="<?php echo $entry_company; ?>" id="input-company" class="form-control"/>
                    <fieldset class="checkout_required placeholder_black">
                        <label class="control-label" for="input-country"><?php echo $entry_country; ?></label>
                        <?php foreach ($countries as $country) { ?>
                        <?php if ($country['country_id'] == 220) { ?>
                        <input type="text" id="input-payment-country" class="form-control" value="<?php echo $country['name']; ?>" data-value="<?php echo $country['country_id']; ?>" readonly>
                        <input type="hidden" name="country_id" value="<?php echo $country['country_id']; ?>" >
                        <?php } ?>
                        <?php } ?>
                        <?php /* ?>
                        <select name="country_id" id="input-country" class="selectpicker custom-select">
                            <option value=""><?php echo $text_select; ?></option>
                            <?php foreach ($countries as $country) { ?>
                            <?php if ($country['country_id'] == $country_id) { ?>
                            <option value="<?php echo $country['country_id']; ?>"
                                    selected="selected"><?php echo $country['name']; ?></option>
                            <?php } else { ?>
                            <option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
                            <?php } ?>
                            <?php } ?>
                        </select>
                        <?php */ ?>
                        <?php if ($error_country) { ?>
                        <div class="text-danger"><?php echo $error_country; ?></div>
                        <?php } ?>
                    </fieldset>
                    <fieldset class="select_checkoutsort select_arr_checkout checkout_required">
                        <label class="control-label" for="input-zone"><?php echo $entry_zone; ?></label>
                        <select name="zone_id" id="input-zone" class="select_styled checkout_select ">
                        </select>
                        <?php if ($error_zone) { ?>
                        <div class="text-danger"><?php echo $error_zone; ?></div>
                        <?php } ?>
                    </fieldset>
                    <fieldset class="checkout_required placeholder_black">
                        <label class="control-label" for="input-city"><?php echo $entry_city; ?></label>
                        <input type="text" name="city" value="<?php echo $city; ?>"
                               placeholder="<?php echo $entry_city; ?>" id="input-city" class="form-control"/>
                        <?php if ($error_city) { ?>
                        <div class="text-danger"><?php echo $error_city; ?></div>
                        <?php } ?>
                    </fieldset>
                    <fieldset class="checkout_required placeholder_black">
                        <label class="control-label"
                               for="input-address-1"><?php echo $entry_address_1; ?></label>
                        <input type="text" name="address_1" value="<?php echo $address_1; ?>"
                               placeholder="<?php echo $entry_address_1; ?>" id="input-address-1"
                               class="form-control"/>
                        <?php if ($error_address_1) { ?>
                        <div class="text-danger"><?php echo $error_address_1; ?></div>
                        <?php } ?>
                    </fieldset>
                    <input type="hidden" name="address_2" value="<?php echo $address_2; ?>"
                           placeholder="<?php echo $entry_address_2; ?>" id="input-address-2"
                           class="form-control"/>
                        <input type="hidden" name="postcode" value="<?php echo $postcode; ?>"
                               placeholder="<?php echo $entry_postcode; ?>" id="input-postcode"
                               class="form-control"/>
                    <?php foreach ($custom_fields as $custom_field) { ?>
                    <?php if ($custom_field['location'] == 'address') { ?>
                    <?php if ($custom_field['type'] == 'select') { ?>
                    <fieldset
                            class="select_checkoutsort select_arr_checkout checkout_required <?php echo ($custom_field['required'] ? ' required' : ''); ?>"
                            data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>">
                            <?php echo $custom_field['name']; ?>
                        </label>
                        <select name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                class="selectpicker custom-select">
                            <option value=""><?php echo $text_select; ?></option>
                            <?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
                            <?php if (isset($address_custom_field[$custom_field['custom_field_id']]) && $custom_field_value['custom_field_value_id'] == $address_custom_field[$custom_field['custom_field_id']]) { ?>
                            <option value="<?php echo $custom_field_value['custom_field_value_id']; ?>"
                                    selected="selected"><?php echo $custom_field_value['name']; ?></option>
                            <?php } else { ?>
                            <option value="<?php echo $custom_field_value['custom_field_value_id']; ?>"><?php echo $custom_field_value['name']; ?></option>
                            <?php } ?>
                            <?php } ?>
                        </select>
                        <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                        <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                        <?php } ?>
                    </fieldset>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'radio') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <div>
                                <?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
                                <div class="radio">
                                    <?php if (isset($address_custom_field[$custom_field['custom_field_id']]) && $custom_field_value['custom_field_value_id'] == $address_custom_field[$custom_field['custom_field_id']]) { ?>
                                    <label>
                                        <input type="radio"
                                               name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                               value="<?php echo $custom_field_value['custom_field_value_id']; ?>"
                                               checked="checked"/>
                                        <?php echo $custom_field_value['name']; ?></label>
                                    <?php } else { ?>
                                    <label>
                                        <input type="radio"
                                               name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                               value="<?php echo $custom_field_value['custom_field_value_id']; ?>"/>
                                        <?php echo $custom_field_value['name']; ?></label>
                                    <?php } ?>
                                </div>
                                <?php } ?>
                            </div>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'checkbox') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <div>
                                <?php foreach ($custom_field['custom_field_value'] as $custom_field_value) { ?>
                                <div class="checkbox">
                                    <?php if (isset($address_custom_field[$custom_field['custom_field_id']]) && in_array($custom_field_value['custom_field_value_id'], $address_custom_field[$custom_field['custom_field_id']])) { ?>
                                    <label>
                                        <input type="checkbox"
                                               name="custom_field[<?php echo $custom_field['custom_field_id']; ?>][]"
                                               value="<?php echo $custom_field_value['custom_field_value_id']; ?>"
                                               checked="checked"/>
                                        <?php echo $custom_field_value['name']; ?></label>
                                    <?php } else { ?>
                                    <label>
                                        <input type="checkbox"
                                               name="custom_field[<?php echo $custom_field['custom_field_id']; ?>][]"
                                               value="<?php echo $custom_field_value['custom_field_value_id']; ?>"/>
                                        <?php echo $custom_field_value['name']; ?></label>
                                    <?php } ?>
                                </div>
                                <?php } ?>
                            </div>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'text') { ?>
                    <fieldset
                            class="checkout_required placeholder_black <?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                            data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
                        <input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                               value="<?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : $custom_field['value']); ?>"
                               placeholder="<?php echo $custom_field['name']; ?>"
                               id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                               class="form-control"/>
                        <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                        <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                        <?php } ?>
                    </fieldset>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'textarea') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <textarea name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]" rows="5"
                                      placeholder="<?php echo $custom_field['name']; ?>"
                                      id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                      class="form-control"><?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : $custom_field['value']); ?></textarea>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'file') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <button type="button"
                                    id="button-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                    data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default"><i
                                        class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
                            <input type="hidden" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                   value="<?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : ''); ?>"/>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'date') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <div class="input-group date">
                                <input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                       value="<?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : $custom_field['value']); ?>"
                                       placeholder="<?php echo $custom_field['name']; ?>" data-date-format="YYYY-MM-DD"
                                       id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                       class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'time') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <div class="input-group time">
                                <input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                       value="<?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : $custom_field['value']); ?>"
                                       placeholder="<?php echo $custom_field['name']; ?>" data-date-format="HH:mm"
                                       id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                       class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php if ($custom_field['type'] == 'datetime') { ?>
                    <div class="form-group<?php echo ($custom_field['required'] ? ' required' : ''); ?> custom-field"
                         data-sort="<?php echo $custom_field['sort_order']; ?>">
                        <label class="col-sm-2 control-label"
                               for="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"><?php echo $custom_field['name']; ?></label>
                        <div class="col-sm-10">
                            <div class="input-group datetime">
                                <input type="text" name="custom_field[<?php echo $custom_field['custom_field_id']; ?>]"
                                       value="<?php echo (isset($address_custom_field[$custom_field['custom_field_id']]) ? $address_custom_field[$custom_field['custom_field_id']] : $custom_field['value']); ?>"
                                       placeholder="<?php echo $custom_field['name']; ?>"
                                       data-date-format="YYYY-MM-DD HH:mm"
                                       id="input-custom-field<?php echo $custom_field['custom_field_id']; ?>"
                                       class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                            <?php if (isset($error_custom_field[$custom_field['custom_field_id']])) { ?>
                            <div class="text-danger"><?php echo $error_custom_field[$custom_field['custom_field_id']]; ?></div>
                            <?php } ?>
                        </div>
                    </div>
                    <?php } ?>
                    <?php } ?>
                    <?php } ?>
                    <div class=" option-group clearfix">
                        <label class="control-label"><?php echo $entry_default; ?></label>
                        <?php if ($default) { ?>
                        <input type="radio" name="default" value="1" checked="checked"/>
                        <label class="radio-inline"><?php echo $text_yes; ?></label>
                        <input type="radio" name="default" value="0"/>
                        <label class="radio-inline"><?php echo $text_no; ?></label>
                        <?php } else { ?>
                        <input type="radio" name="default" value="1"/>
                        <label class="radio-inline"><?php echo $text_yes; ?></label>
                        <input type="radio" name="default" value="0" checked="checked"/>
                        <label class="radio-inline"><?php echo $text_no; ?></label>
                        <?php } ?>
                    </div>
                    </fieldset>
                    <div class="buttons customadress-btn">
                        <a href="<?php echo $back; ?>" class="btn_checkout btn_profileenter btn_back btn-mapback">
                            <?php echo $button_back; ?>
                        </a>
                        <input type="submit" value="<?php echo $button_continue; ?>" class="btn_checkout btn_profileenter btn-mapsubmit"/>

                    </div>

                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><?php echo $column_right; ?></div>
        </div>
    </div>
</section>
<?php echo $content_bottom; ?>
<script type="text/javascript"><!--
    // Sort the custom fields
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.form-group[data-sort]').detach().each(function () {
            if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
                $('.form-group').eq($(this).attr('data-sort')).before(this);
            }

            if ($(this).attr('data-sort') > $('.form-group').length) {
                $('.form-group:last').after(this);
            }

            if ($(this).attr('data-sort') < -$('.form-group').length) {
                $('.form-group:first').before(this);
            }
        });

        $('button[id^=\'button-custom-field\']').on('click', function () {
            var node = this;

            $('#form-upload').remove();

            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            timer = setInterval(function () {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=tool/upload',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $(node).button('loading');
                        },
                        complete: function () {
                            $(node).button('reset');
                        },
                        success: function (json) {
                            $(node).parent().find('.text-danger').remove();

                            if (json['error']) {
                                $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                            }

                            if (json['success']) {
                                alert(json['success']);

                                $(node).parent().find('input').attr('value', json['code']);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });

        $('.date').datetimepicker({
            pickTime: false
        });

        $('.datetime').datetimepicker({
            pickDate: true,
            pickTime: true
        });

        $('.time').datetimepicker({
            pickDate: false
        });

        var country_id = $('input[name=\'country_id\']').val();
        //$('input[name=\'country_id\']').on('change', function () {
            $.ajax({
                url: 'index.php?route=account/account/country&country_id=' + country_id,
                dataType: 'json',
                beforeSend: function () {
                    $('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
                },
                complete: function () {
                    $('.fa-spin').remove();
                },
                success: function (json) {
                    if (json['postcode_required'] == '1') {
                        $('input[name=\'postcode\']').parent().parent().addClass('required');
                    } else {
                        $('input[name=\'postcode\']').parent().parent().removeClass('required');
                    }

                    html = '<option value=""><?php echo $text_select; ?></option>';

                    if (json['zone'] && json['zone'] != '') {
                        for (i = 0; i < json['zone'].length; i++) {
                            html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                            if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
                                html += ' selected="selected"';
                            }

                            html += '>' + json['zone'][i]['name'] + '</option>';
                        }
                    } else {
                        html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
                    }

                    $('select[name=\'zone_id\']').html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        //});

        $('select[name=\'country_id\']').trigger('change');
    });
    //--></script>
<?php echo $footer; ?>
