<ul class="userprofile_leftmenu pull-right">
    <?php if (!$logged) { ?>
    <li><a href="<?php echo $login; ?>" class="list-group-item"><?php echo $text_login; ?></a></li>
    <li><a href="<?php echo $register; ?>" class="list-group-item"><?php echo $text_register; ?></a></li>
    <li><a href="<?php echo $forgotten; ?>" class="list-group-item"><?php echo $text_forgotten; ?></a></li>
    <?php } ?>
    <!--<li><a href="<?php echo $account; ?>" class="list-group-item"><?php echo $text_account; ?></a></li>-->
    <?php if ($logged) { ?>
    <li><a href="<?php echo $edit; ?>" class="list-group-item"><?php echo $text_edit; ?></a></li>
    <!--<li><a href="<?php echo $password; ?>" class="list-group-item"><?php echo $text_password; ?></a></li>-->
    <?php } ?>
    <li><a href="<?php echo $address; ?>" class="list-group-item"><?php echo $text_address; ?></a></li>
    <li><a href="<?php echo $cars; ?>" class="list-group-item"><?php echo $text_cars; ?></a></li>
    <!--<li><a href="<?php echo $wishlist; ?>" class="list-group-item"><?php echo $text_wishlist; ?></a></li>-->
    <li><a href="<?php echo $order; ?>" class="list-group-item"><?php echo $text_order; ?></a></li>
    <!--<li><a href="<?php echo $download; ?>" class="list-group-item"><?php echo $text_download; ?></a></li>-->
    <!--<li><a href="<?php echo $recurring; ?>" class="list-group-item"><?php echo $text_recurring; ?></a></li>-->
    <!--<li><a href="<?php echo $reward; ?>" class="list-group-item"><?php echo $text_reward; ?></a></li>-->
    <!--<li><a href="<?php echo $return; ?>" class="list-group-item"><?php echo $text_return; ?></a></li>-->
    <!--<li><a href="<?php echo $transaction; ?>" class="list-group-item"><?php echo $text_transaction; ?></a></li>-->
    <li><a href="<?php echo $newsletter; ?>" class="list-group-item"><?php echo $text_newsletter; ?></a></li>
    <?php if ($logged) { ?>
    <li><a href="<?php echo $logout; ?>" class="list-group-item"><?php echo $text_logout; ?></a></li>
    <?php } ?>
</ul>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        (function (d) {
            var $elements = document.querySelectorAll('.userprofile_leftmenu li a');
            for ( var i = 0; i < $elements.length; i++ ) {
                if ( location.href === $elements[i].href ) {
                    if ( !$elements[i].parentNode.classList.contains('activepage') ) {
                        $elements[i].parentNode.classList.add('activepage');
                    }
                }
            }
        })(document);
    });
</script>