body {
  box-sizing: border-box;
}

.lastelementli_nomargin {
  li{
    &:last-of-type {
      margin-right: 0;
    }
  }
}

//.hlp_nomargin {
// margin: 0;
//}

.aline_none {
    text-decoration: none;
}

.outlinenone {
  outline: none;
  &:hover {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:visited {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}



//---------------------------select-styles------------------------------------.

.icon-arr-down {
  width: 15px;
  height: 10px;
  background: transparent url("../img/icon_arr_down.svg") no-repeat scroll center center;
  display: table;
  margin-top: 9px;
}

.btn-select {
  position: relative;
  padding: 0;
  min-width: 236px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 20px;
}

.btn-select .btn-select-value {
  //padding: 6px 12px;
  padding:  6px 12px 6px 40px;
  display: block;
  position: absolute;
  left: 0;
  right: 34px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 10px;
  top: 0;
}

.btn-select ul {
  display: none;
  background-color: darkcyan;
  color: black;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none !important;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 33px;
  z-index: 999;
}

.btn-select ul li {
  padding: 3px 6px;
  text-align: left;
}

.btn-select ul li:hover {
  background-color: gold;
}

.btn-select ul li.selected {
  color: #ffff32;
}

///* Default Start */

.filtermenu .btn-customselect {
  background: #478c3c;
  display: block;
  //min-height: 42px;
  min-height: 50px;
  border-radius: 0;
}

//btn-select.btn-customselect.active, .btn-select.btn-customselect:hover


.btn-select.btn-customselect:hover, .btn-select.btn-customselect:active, .btn-select.btn-customselect.active {
  //border-color: #fff;
  border: none;
}

.btn-select.btn-customselect ul li.selected {
  background-color: aqua;
}

.btn-select.btn-customselect ul, .btn-select.btn-customselect .btn-select-value {
  background-color: #478c3c;
  //border: #fff 1px solid;
}

.btn-select.btn-customselect:hover, .btn-select.btn-customselect.active {
  background-color: #478c3c;
}
//---------------------------------------select-end-----------------------------------------------------------

//------------------------------------QUANTITY-STYLE----------------------------------------------------------

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 88px;
  height: 42px;
  border-radius: 6px;
  background-color: #d9d9d9;
  line-height: 1.65;
  float: left;
  display: block;
  //padding: 0;
  margin: 0;
  padding:0 0 0 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: none;
  width: 30px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  right: 0;
  border-bottom: none;


  background: transparent url("../img/quantity-arr-down.png") no-repeat scroll center center;


  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;

  background: transparent url("../img/quantity-arr-down.png") no-repeat scroll center center;



}

//------------------------------------QUANTITY-END------------------------------------------------------------