//@import "bourbon";
@import "vars";


@media only screen and (max-width : 1900px) {

}

@media only screen and (max-width : 1800px) {

}


@media only screen and (max-width : 1700px) {

}

@media only screen and (max-width : 1600px) {

}


@media only screen and (max-width : 1500px) {

}

@media only screen and (max-width : 1400px) {

}


@media only screen and (max-width : 1367px) {

}


@media only screen and (max-width : 1300px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1000px) {


}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}



@media only screen and (max-width : 992px) {

}


@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 570px) {

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 360px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  /**/
}




