//*{
//  font-family: "Comic Sans MS";
//  color: brown;
//  font-size: 10px;
//}


//@include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);


//@include font-face(HelveticaNeue-Bold, /fonts/HelveticaNeue/Bold/HelveticaNeueCyrBold, 700, normal, eot woff2 woff);

//font-face("SFCompactTextLight", "../fonts/SFCompactTextLight/SFCompactTextLight", $file-formats: eot woff ttf)

//@include font-face("HelveticaNeue-Bold", ".. /fonts/HelveticaNeue/Bold/HelveticaNeueCyrBold", $file-formats: eot woff ttf);

//@include font-face(HelveticaNeue-Bold, fonts/HelveticaNeue/Bold/HelveticaNeueCyrBold);

//@font-face {
//  font-face: (HelveticaNeue-Bold, fonts/HelveticaNeue/Bold/HelveticaNeueCyrBold);
//}


//@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
//  @font-face {
//    font-family: $font-family;
//    src: url('#{$file-path}.eot');
//    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
//    url('#{$file-path}.woff') format('woff'),
//    url('#{$file-path}.ttf') format('truetype'),
//    url('#{$file-path}.svg##{$font-family}') format('svg');
//    font-weight: $font-weight;
//    font-style: $font-style;
//  }
//
//}


//
//@include font-face(HelveticaNeue-Bold, '../fonts/HelveticaNeue/Bold/HelveticaNeueCyrBold', 700, bold);
//@include font-face(HelveticaNeue-Medium, '../fonts/HelveticaNeue/Medium/HelveticaNeueCyrMedium', 500, normal);
//@include font-face(HelveticaNeue-Light, '../fonts/HelveticaNeue/Light/HelveticaNeueCyrLight', 300, normal);
//@include font-face(HelveticaNeue-Normal, '../fonts/HelveticaNeue/Normal/Helvetica', 400, normal);
//@include font-face(RalewayMedium, '../fonts/RalewayMedium/RalewayMedium', 500, normal);

//@include font-face(TradeGothicLTStd, '../assets/fonts/TradeGothicLTStd', 100, normal);
//@include font-face(TradeGothicLTStd-Light, '../fonts/TradeGothicLTStd-Light', 100, normal);
//@include font-face(TradeGothicLTStd-Bold, '../fonts/TradeGothicLTStd-Bd2', 100, normal);



// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

// Font Variables
//$rubik: 'Rubik', sans-serif;

//$fontweight_regular: 400;
//$fontweight_medium: 500;
//$fontweight_bold: 700;
//
//$font_regular: 'Rubik', sans-serif;
//$font_medium: "OpenSans-Regular" , $helvetica ;
//$font_bold: $fontweight_bold "OpenSans-Regular";
//
//
/////Defining Font Family
//$body-font-regular        : 'TradeGothicLTStd', Arial, Helvetica, sans-serif;
//$body-font-bold           : 'TradeGothicLTStd-Bold', Arial, Helvetica, sans-serif;
//$body-font-light          : 'TradeGothicLTStd', Arial, Helvetica, sans-serif;
