@import "vars";
@import "libs";
@import "helpers";

@import "reset-src";
//Custom styles here



#top {
  width: 100%;
  display: table;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  height: 41px;
  #top_nav {
    text-align: center;
  }
  .top_m {
    display: inline-block;
    float: none;
    vertical-align: top;
   // @extend .lastelementli_nomargin;
    li {
      float: left;
      margin-right: 33px;
      a {
        line-height: 41px;
        color: #000;
        font: 400 14px/41px 'Rubik', sans-serif;
        @extend .aline_none;
      }
    }
  }

  .customnav_marg {
    margin: 0;
  }

  .icon-bar {
    background: red;
  }
}

.customnav_marg .navbar-nav > li > a {
  text-shadow: none;
}


.header_logo {
  margin-top: 40px;
}

#logo {
  a {
    @extend  .outlinenone;
  }
}

.enter_link {
  color: #58a94b;
  font: 400 12px/12px 'Rubik', sans-serif;

  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px dashed #58a94b;
//  text-decoration: dashed #58a94b;
  display: table;
  margin: 40px auto 0;
  text-align: center;
  //padding-left: 18px;
  padding: 5px 0 5px 0;
  position: relative;
  min-height: 25px;
  height: auto;
  //transition: all 0.3s ease 0s;
  @extend  .outlinenone;
  &:before {
    background: rgba(0, 0, 0, 0) url("../img/icon-core-user.png") no-repeat scroll left center;
    content: "";
    left: -25px;
    top: 0;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  &:hover {
    outline: none;
    color: #58a94b;
    text-decoration: none;
    border-bottom: none;
    //transition: all 0.3s ease 0s;
  }
}

.shop_open {
  color: #9b9b9b;
  font: 400 14px/14px 'Rubik', sans-serif;
}

.open_phones {
  margin-top: 37px;
  padding-left: 50px;
  background: rgba(0, 0, 0, 0) url("../img/icon-communication-phone-call.png") no-repeat scroll 0 center;
  display: table;
}

.shop_phones {
  padding: 0;
  margin: 0;
  li {
    float: left;
    margin-right: 34px;

    color: #000;
    font: 500 18px/20px 'Rubik', sans-serif;
    font-size: 18px;

    @extend .lastelementli_nomargin;
  }
}

.filtermenu {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  //display: table;
  background: #58a94b;
  min-height: 50px;
}

.callme {
  color: #58a94b;
  font: 400 12px/12px Rubik,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px dashed #58a94b;
  margin:  16px 0 0 50px;
  display: table;
  &:hover {
    text-decoration: none;
    color: #58a94b;
    border-bottom: 1px dashed transparent;
  }
  @extend  .outlinenone;
}


#cart {
  a{
    opacity: 0.5;
    color: #fff;
    font: 400 12px/40px Rubik,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 4px 0 4px 30px;
    min-height: 23px;
    display: inline-block;
    @extend  .outlinenone;
    &:hover {
      background-color: red;
      opacity: 1;
    }
  }
  .cart_header {
    background: rgba(0, 0, 0, 0) url("../img/icon-commerce-cart.png") no-repeat scroll 0 center;
    margin: 0;
  }

  .favorite_header {
    background: rgba(0, 0, 0, 0) url("../img/star.png") no-repeat scroll 0 center;
    margin: 0 35px 0 0;
  }
}

#search {
  input {
    margin-top: 3px;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    height: 44px;
  }

  .btn-customsearch {
    background: #fff url("../img/icon-core-search.png") no-repeat scroll center center;
    height: 44px;
    margin-top: 2px;
    @extend .outlinenone;
  }


  input[placeholder] {
    text-overflow:ellipsis;
    font: 400 13px/26px Rubik,sans-serif;
    color: #9b9b9b;
  }
  input::-moz-placeholder {
    text-overflow:ellipsis;
    font: 400 13px/26px Rubik,sans-serif;
    color: #9b9b9b;
  }
  input:-moz-placeholder {
    text-overflow:ellipsis;
    font: 400 13px/26px Rubik,sans-serif;
    color: #9b9b9b;
  }
  input:-ms-input-placeholder {
    text-overflow:ellipsis;
    font: 400 13px/26px Rubik,sans-serif;
    color: #9b9b9b;
  }
}

.topbanner {
  min-height: 165px;
  display: block;
  border: 2px solid #58a94b;
  padding-top: 52px;
  margin-bottom: 30px;

  h2 {
    color: #000;
    font-size: 24px;
    padding: 0 16px;
    max-width: 85%;
    margin-bottom: 0;
  }
  a {
    color: #58a94b;
    font: 400 12px/12px Rubik,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    //margin-left: 16px;
    //margin-top: 8px;
    margin:  8px 0 0 16px;
    padding-bottom: 16px;
    display: block;
    @extend .outlinenone;
  }
}

.autohelp {
  background: transparent url("../img/autohelp.jpg") no-repeat scroll right top;
}

.autopart {
  background: transparent url("../img/autopart.jpg") no-repeat scroll right top;
}


.maincat {
  //width: 370px;
  width: 100%;
  min-height: 110px;
  max-height: 110px;
  overflow-y: hidden;
  border: 2px solid #d9d9d9;
  display: block;
  border-radius: 13px;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin-bottom: 24px;
  //padding: 0 50px 0 100px;
  padding-right: 23px;
  //text-align: left;

  color: #000;
  font-size: 24px;
  @extend .outlinenone;
  &:hover {
    border: 2px solid #58a94b;
    transition: all 0.15s ease-out;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;



    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.63);
  }

  &:hover img{
    opacity: 1;
  }
  &:active {
    text-decoration: none;
    color: #000;
  }
  &:visited {
    text-decoration: none;
    color: #000;
  }

  img {
    //margin-left: -15px;
    margin:  1px 0 0 -15px;
    opacity: 0.5;
  }
}

.carsearch_bordered {
  width: 170px;
  height: 170px;
  overflow: hidden;
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 11px;
  background-color: #fff;
  span {
    font: 400 12px/12px Rubik,sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  img {
    margin-top: 40px;
  }
}




.blockslider_flex {
  margin-bottom: 50px;

  //display: -webkit-flex;
 // display: -ms-flexbox;
//  display: flex;
//  overflow: hidden;

  //display: -webkit-flex;
  //display: -ms-flexbox;
  //display: flex;
  //-webkit-flex-wrap: wrap;
  //-ms-flex-wrap: wrap;
  //flex-wrap: wrap;
 // display: table; /* Make the container element behave like a table */
 // width: 100%; /* Set full-width to expand the whole page */
  .swiper-slide {
  //  flex: 1;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    //display: flex;
 //   display: table-cell; /* Make elements inside the container behave like table cells */
  }
  .blockslider_bordered {
    display: block;
    border: 2px solid #d9d9d9;
    border-radius: 11px;
    position: relative;
    padding: 16px;
    min-height: 550px;
    transition: all 0.4s ease-in;
    &:hover {
      border: 2px solid #58a94b;
      transition: all 0.15s ease-out;
      -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.63);
      -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.63);
      box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.63);


    }
  }
}




//.equal  {
//  display: -webkit-box;
//  display: -moz-box;
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  flex:1 0 auto;
//}


.blockslider_imgwrapper {
  background: #f9f9f9;
  position: relative;
  //width: 230px;
  width: 100%;
  height: 220px;
  overflow: hidden;

  img {
    max-width: 230px;
    max-height: 210px;
    margin: 10px auto 0;
    display: block;
  }
  a {
    @extend .outlinenone;
  }
}

.item_tofavorites {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: 0;
  background: #d9d9d9 url("../img/icon-core-star.png") no-repeat scroll center center;
  //transition: all 0.4s ease-in;
  // @extend .outlinenone;
  //&:hover {
  //  background: #cce5c9 url("../img/tofavorite_hover.png") no-repeat scroll center center;
  //  transition: all 0.4s ease-out;
  //}
}

.item_infavorites {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: 0;
  background: #cce5c9 url("../img/tofavorite_hover.png") no-repeat scroll center center;
  @extend .outlinenone;
}


.item_tosale {
  width: 88px;
  height: 42px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
  background: #f44336;
  text-align: center;
  color: #fdd835;
  font: 400 18px/42px Rubik,sans-serif;
  cursor: default;
  @extend .outlinenone;
  &:hover {
    color: #fdd835;
    text-decoration: none;
  }
}

.block-wrapper {
  position: relative;
  //display: table;
  .blockslider-next {
    background:  #fff url("../img/icon-arrows-chevron-right.png") no-repeat scroll center center;
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 175px;
    z-index: 999;
    cursor: pointer;

    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.63);
  }
  .blockslider-prev {
    background:  #fff url("../img/icon-arrows-chevron-left.png") no-repeat scroll center center;
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 175px;
    z-index: 999;
    cursor: pointer;

    -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.63);
    box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.63);

  }

  .swiper-button-disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.bannergroup {
  margin:  64px 0 40px 0;
  .bigbanner {
    width: 100%;
    min-height: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 11px;
  }
  .smallbanner {
    width: 100%;
    min-height: 200px;
    border-radius: 11px;
    background-color: #58a94b;
  }
}


.paysystem {
  margin-top: 136px;
}


.aboutcompany {
  margin-top: 64px;
  margin-bottom: 64px;
  p {
    color: #000;
    font: 400 16px/24px Rubik,sans-serif;
  }

  .aboutcompany_banner {
    display: table;
    width: 270px;
    height: 312px;
    background-color: #58a94b;
    border-radius: 11px;
    margin-top: 65px;
    img {
      margin-top: 60px;
    }
  }
}


footer {
  width: 100%;
  background: #000;
  min-height: 200px;
  display: table;
  padding-top: 32px;
  padding-bottom: 54px;
  h2{
    width: 100%;
    color: #58a94b;
    font: 400 18px/18px Rubik,sans-serif;
    //font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
  }

  .btn_footer_questions {
    border: 2px solid #58a94b;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
  }

  ul {
    li {
      a {
        color: #fff;
        font: 400 16px/38px Rubik,sans-serif;
        @extend .outlinenone;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  .service_top_pay {
    margin-top: 115px;
  }

  .work_graphic {
    opacity: 0.5;
    color: #fff;
    font: 400 16px/24px Rubik,sans-serif;
    //font-size: 16px;
    //line-height: 24px;
  }

  .footer_adress {
    color: #fff;
    font: 400 16px/24px Rubik,sans-serif;
  }

  .see_map {
    opacity: 1;
    color: #fff;
    font: 400 16px/24px Rubik,sans-serif;
  }
}

/*flex-col*/
.block_slider {
    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;
    //flex: 1 0 auto;
  position: relative;

  .swiper-pagination-bullet-active {
    background-color: #58a94b !important;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #d9d9d9;
    opacity: 1;
  }

  .item_partnumber {
    color: #556a52;
    font: 400 12px/19px Rubik,sans-serif;
    //font-size: 12px;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .partprice {
    margin:  26px 0 16px 0;
    color: #000;
    font: 400 28px/30px Rubik,sans-serif;
    text-align: left;
    width: 100%;
    //font-size: 28px;
  }

  .partprice_available {
    color: #000;
  }

  .partprice_notavailable {
    color: #9b9b9b;
  }

  .oldprice {
    color: #9b9b9b;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 400;
    display: block;
    width: 100%;
    line-height: 14px;
  }

  .current_price {
    color: #58a94b;
    font: 400 24px/29px Rubik,sans-serif;
  }




}

.part_manufacturer {
  width: 100%;
  color: #58a94b;
  font: 400 10px/12px Rubik,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.83px;
  text-align: left;
  margin-top: 14px;
}

.part_header {
  width: 100%;
  color: #000;
  text-align: left;
  font: 500 16px/20px Rubik,sans-serif;
  min-height: 60px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space: nowrap;
}

.item_tocart {
  width: 130px;
  height: 42px;
  border: 1px solid #58a94b;
  border-radius: 6px;
  background: #58a94b url("../img/icon-commerce-cart.png") no-repeat scroll 94px center;
  padding: 14px;
  color: #fff;
  font: 400 12px/12px Rubik,sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  transition: all 0.30s ease 0s;
  &:hover {
    background-color: #478c3c;
    transition: all 0.30s ease 0s;
  }
}

.item_tocart_notavailable {
  width: 100%;
  height: 42px;
  border: 1px solid #58a94b;
  border-radius: 6px;
  background: #58a94b;
  padding: 14px 10px;
  text-align: center;
  color: #fff;
  font: 400 12px/12px Rubik,sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.30s ease 0s;
  &:hover {
    background-color: #478c3c;
    transition: all 0.30s ease 0s;
  }
}
//.cat_tires {
//  background: transparent url("../img/cat_tires.png") no-repeat scroll left center;
//}

//.item{
//  background: #00b90b;
//  text-align: center;
//  height: 300px !important;
//}



//
//.swiper1 {
//  background: red;
//  position: relative;
//  display: table;
//  width: 100%;
//}
//
//.swiper2 {
//  background: gold;
//  //position: relative;
//  //display: table;
//  //width: 100%;
//  overflow: hidden;
//}
//
//.swiper-wrapper {
//  //height: 400px;
//  overflow: hidden;
//}
//
//.swiper-slide {
//  text-align: center;
//  font-size: 18px;
//  //background: #fff;
//
//  /* Center slide text vertically */
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  -webkit-box-pack: center;
//  -ms-flex-pack: center;
//  -webkit-justify-content: center;
//  justify-content: center;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  -webkit-align-items: center;
//  align-items: center;
//  width: 100%;
//  //height: 400px;
//  background: darkorchid;
//
//}

.top_greenslide {
  background: #58a94b;
  color: #fff;
  .button_greenslide {
    width: 200px;
    display: table;
    border: 0;
    padding: 18px 15px;
    background: #fff;
    border-radius: 50px;
    color: #58a94b;
    font: 400 12px/12px Rubik,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    //margin-left: 20px;
    margin:  16px 0 0 0;
    @extend .outlinenone;
  }
  h2 {
    text-align: left;
    font-size: 36px;
  }

  .topbanner-descr {
    padding-left: 50px;
  }
}

.topslide-swiper-pagination {
  margin: 0 auto 0;
  display: table;
  z-index: 99999999999;
  text-align: center;
}

.topsect_marg {
  margin-top: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  //margin-top: 15px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  //background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}

.top_slider {
  .swiper-slide {
    min-height: 360px;
  }
}

.search_slider {
  .swiper-slide {
    min-height: 170px;
  }
}





.test {
  font: 600 200px/240px 'Rubik', sans-serif;
}

.test1 {
  background: chartreuse;
}


.test2 {
  background: #ffbb00;
}


.test3 {
  background: #1f36ff;
}




@import "media";

