<?php echo $header; ?>
<?php if ($column_left && $column_right) { ?>
<?php $class = 'col-sm-6'; ?>
<?php } elseif ($column_left || $column_right) { ?>
<?php $class = 'col-sm-9'; ?>
<?php } else { ?>
<?php $class = 'col-sm-12'; ?>
<?php } ?>
<div class="container">
  <div class="row">
    <?php echo $column_left; ?>
     <div id="content" class="<?php echo $class; ?>">
       <h1 class="hidden"><?=$heading_title; ?></h1>
       <?php echo $content_top; ?>
       <div class="center-block err_notfound">
         <!--<img src="img/404.svg" alt="">  -->
         <svg class="img_errpage" width="169px" height="56px" viewBox="0 0 169 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
           <!-- Generator: sketchtool 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
           <title>B92CAA7B-0016-43BA-BE12-54A466AFFF85</title>
           <desc>Created with sketchtool.</desc>
           <defs></defs>
           <g id="web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
             <g id="00-error-404" transform="translate(-636.000000, -302.000000)" fill="#D9D9D9">
               <g id="404" transform="translate(631.000000, 288.000000)">
                 <g id="logo_sign" transform="translate(58.000000, 14.000000)">
                   <polyline id="Fill-1" points="29.333 50.081 38.529 34.173 36.835 31.244 33.03 24.658 33.028 24.658 23.833 40.562 19.011 40.562 31.447 19.049 43.883 40.562 36.557 40.565 31.055 50.081 60.386 50.081 31.449 0.016 2.509 50.081"></polyline>
                   <path d="M47.01,6.557 C43.095,4.299 38.891,2.993 34.667,2.565 L41.503,14.39 C41.752,14.522 42.002,14.656 42.248,14.798 C49.378,18.912 53.255,26.521 52.963,34.218 L59.801,46.046 C66.25,31.729 60.916,14.577 47.01,6.557" id="Fill-2"></path>
                   <path d="M4.663,17.893 C-0.466,26.764 -0.698,37.12 3.128,45.831 L10.047,33.865 C9.955,30.057 10.871,26.181 12.913,22.65 C14.954,19.12 17.856,16.388 21.203,14.566 L28.121,2.597 C18.651,3.645 9.79,9.021 4.663,17.893" id="Fill-3"></path>
                 </g>
                 <text id="4" class="errtext">
                   <tspan x="3.16796875" y="70">4</tspan>
                 </text>
                 <text id="4" class="errtext">
                   <tspan x="132.167969" y="70">4</tspan>
                 </text>
               </g>
             </g>
           </g>
         </svg>
         <p><?=$text_error?></p>
         <a href="<?php echo $continue; ?>"><button class="notfoundbutton center-block"><?php echo $button_continue; ?></button></a>
       </div>
      <?php echo $content_bottom; ?>
     </div>
    <?php echo $column_right; ?>
  </div>
</div>
<?php echo $footer; ?>